.carousel {
    width: 800px; /* establece el ancho del carrusel */
    margin: 0 auto; /* centra el carrusel horizontalmente */
    margin-bottom: 70px;
    margin-top: 50px;
}
  
  .carousel img {
    width: 60%; /* establece el ancho máximo de la imagen al 100% del contenedor */
    height: 30%; /* ajusta la altura de la imagen automáticamente */
  }


div.gallery {
    border: 1px solid #ccc;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 50%;
    height: 40%;
}

div.desc {
    padding: 15px;
    text-align: center;
}

* {
    box-sizing: border-box;
}

.responsive {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
}

.carousel-inner img {
    width: 50%;
    height: 40%;
    padding-top: 5%;
    margin-left: 25%;
    object-fit: cover;
}

#Galeria {
    margin: 15px;
    float: left;
    font-size: 14px;
}

.desc {
    background-color: white;
}

#id_oso {
    padding: 15px;
}


.d-block{
    width: 50%;
    height: 40%;   
}

.carousel-item img{
    width: 50%;
    height: 40%;
    padding-top: 5%;
    margin-left: 25%;

}

.carousel-item :active{
    width: 50%;
    height: 40%;
    padding-top: 5%;
    margin-left: 25%;
}

  
  
  