{% extends "crud/baseCrud.html" %}
{% block block-volver %}<a href="{% url 'index' %}">Volver</a>{% endblock block-volver %}

{% block contenido %} 
<div class="Parrafos">
    <h2>Crear Poción</h2>
    <form method="post">
        {% csrf_token %}
    <style>.contenedorForm textarea, input{max-width: 400px;} </style>
    <div class=contenedorForm>
        <div class="form-group">
            <label for="{{ formPocionWiki.nombre.id_for_label }}">Nombre: </label> {{ form.nombre }}
        </div><br>
        <div class="form-group">
            <label for="{{ formPocionWiki.ingredientes.id_for_label }}">Ingredientes:</label>
            {{ form.ingredientes }}
        </div><br>
        <button class="btn btn-primary" type="submit">Crear Pocion</button>
    </div>    
    </form>
</div>
{% endblock %}