nav {
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
  }
  
  nav li {
    font-family:  Viner Hand ITC;
    margin-left: 10px;
    color: white;
  }

  nav li:hover{
    background-color: #494848;
    color: white;
    border-radius: 10px;
  }
  
  nav a {
    display: block;
    padding: 10px;
    color: #fff;
    text-decoration: none;
  }
  
  nav a:hover {
    color: white;
  }

    .redes{

    background-color: white;
    border-radius: 10px;
    border-color: black;
    border-width: 2px;
    border-style: outset;

}

.redes:hover{ 
background-color: rgb(62, 62, 62);
border-radius: 10px;

}

