{% extends 'login/baseLog.html' %}

{% block title %}Log In{% endblock %}
{% block volver %}<a href="{% url 'index' %}">Volver</a>{% endblock volver %}

{% block contenido %}
<style>
    .form-control{
        width: 30%;
    }
</style>

{% if messages %}
{% for message in messages %}
    <div class="alert alert-success" role="alert">
    <strong>¡Bien hecho!</strong> {{ message }}
    </div>
{% endfor %}
{% endif %}

<div class="Parrafos">
    <p>Ingrese su usuario para utilizar las herramientas de crear pocion, ver, editar y eliminarlas
        de la comunidad.
    </p>
</div>

    <div class="Parrafos">
        <h2>Iniciar sesión</h2>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="btn btn-success" type="submit">Iniciar sesión</button>
        </form>
    </div>

{% endblock %}